<!DOCTYPE html>
<html>
  <head>
    <!-- Bokeh includes -->
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-0.13.0.min.css" rel="stylesheet">
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.13.0.min.css"
	  rel="stylesheet">    
  </head>
  <body>
    <h1>Apple Prices from 2014</h1>
    <!-- first div -->
    {{ the_div|safe }}
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.13.0.min.js"></script>
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.13.0.min.js"></script>
    <!-- first script -->
    {{ the_script|safe }}
  </body>
</html>
